---
const { post, class: className = "" } = Astro.props;
import truncate from "truncate-html";
const shortExcerpt = truncate(post.excerpt, 100, { byWords: false });
---

<article class={`card-actu ${className}`}>
  <picture class="img-wrap">
    <source srcset={post?.featuredImage?.node?.srcSet} />
    <img
      src={post?.featuredImage?.node?.mediaItemUrl}
      alt={post?.featuredImage?.node?.altText}
      srcset={post?.featuredImage?.node?.srcSet}
      loading="lazy"
      width={post?.featuredImage?.node?.mediaDetails?.width}
      height={post?.featuredImage?.node?.mediaDetails?.height}
    />
  </picture>
  <a class="post-link" href={post.uri} aria-label={post.title}
    ><h3>{post.title}</h3></a
  >
  <div class="texte" set:html={shortExcerpt} />
  <div class="info">
    <div class="cats">
      {
        post.categories.nodes.map((category) => {
          return (
            <a class="term-link" href={category.uri}>
              {category.name}
            </a>
          );
        })
      }
    </div>
    <span
      ><time datetime={post.date}
        >{new Date(post.date).toLocaleDateString()}</time
      ></span
    >
  </div>
</article>
