---
import SiteNav from "../components/SiteNav.astro";
import SiteFooter from "../components/SiteFooter.astro";
import SiteLoader from "../components/SiteLoader.astro";
//import Grid from "../components/Grid.astro";
import { Debug } from "astro/components";

import { navQuery, getGlobalACF } from "../lib/api";
import "../styles/main.scss";
const { menus, generalSettings } = await navQuery();

const globalACF = await getGlobalACF();
const primaryMenu = menus.nodes[0];

const { title, description } = Astro.props;
---

<html lang="fr">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{`${title} | ${generalSettings.title}`}</title>
    <meta name="description" content={description} />

    <link rel="modulepreload" href="/src/scripts/main.js" />
  </head>
  <body>
    <!--<Debug answer={globalACF ?? "no data"} />-->
    <SiteLoader />
    <SiteNav menu={primaryMenu} generalSettings={generalSettings} />
    <slot />
    <SiteFooter generalSettings={generalSettings} />
  </body>
</html>
<script type="module" is:inline>
  import "/src/scripts/main.js";
</script>
